.about-company {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;

  @media (max-width: $screen-s) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}

.about-company__text {
  height: 90px;
  overflow-y: hidden;
  margin-bottom: 10px;
  padding: 0;

  @media (min-width: $screen-s) {
    height: 160px;
  }
}

.about-company-show-more-button {
  @media (min-width: $screen-m) {
    display: none;
  }
}
