.partition {
  white-space: nowrap;
}

.partition__list {
  display: flex;
  align-items: center;
  overflow-x: auto;
  white-space: nowrap;
  margin: 0;
  padding: 0;

  @media (max-width: $screen-m) {
    overflow-x: scroll;
  }
  @media (min-width: $screen-m) {
    overflow-x: auto;
    flex-wrap: wrap;
  }
}

.partition__item {
  margin: 10px 0;
  padding: 8px 16px;
}

.partition__item--active {
  background-color: white;
  border-radius: 6px;
  border: 2px solid $active-border;
}

.partition__link {
  white-space: nowrap;
}

.partition__list::-webkit-scrollbar {
  visibility: hidden;
}
