@import "fonts.scss";

$ff: "TT Lakes", sans-serif;
$page-background-color: #f8f8f8;
$active-element: #7e7e82;
$active-border: #41f6d7;
$placeholder-color: #b5b6bc;
$placeholder-background-color: #fff;

$default-text: #1b1c21;
$active-text: #7e7e82;
$legally-important: #ff3e79;

$screen-s: 759px;
$screen-m: 1119px;
$screen-l: 1440px;
